@import '../../variables.scss';

// Variables
$head_height: 72px;
$Input_box_height: 60px;
$Input_box_height_mobile: 50px;

@mixin input_button() {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    color: white;
    transition: 0.3s;
    cursor: pointer;
    display: inline-block;
    border-radius: 40px;
    border: none;
    background-color: transparent;
    text-align: center;
    padding: 0;
    &:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }
    &:active {
        transform: scale(0.9);
    }
    &:focus {
        outline: none;
        background-color: rgba(0, 0, 0, 0.3);
    }
    &:disabled {
        pointer-events: none;
        color: rgba(0, 0, 0, 0.3);
    }
}

.chat_wrapper {
    width: 100%;
    height: 100%;
}

.chat_contaiener {
    width: 100%;
    height: calc(100% - $head_height);
    .loader {
        z-index: 15;
    }
    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }
}

// Head
.chat_head {
    width: 100%;
    height: $head_height;
    padding: 15px;
    background-color: lighten($color: $dark, $amount: 10);
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    user-select: none;
    display: flex;
    z-index: 10;
    position: relative;
    .user_pic {
        height: 40px;
        width: 40px;
        margin: 0 15px 0 0;
        img {
            width: 100%;
            height: 100%;
            pointer-events: none;
            display: block;
        }
    }
    .user_name {
        height: 40px;
        line-height: 40px;
        margin: 0;
        color: white;
        font-size: 18px;
        font-weight: normal;
    }
    &.mobile {
        padding-left: 70px;
    }
}

// Content
.chat_content {
    width: 100%;
    height: calc(100% - $Input_box_height);
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: inset 0 0 20px 0px rgba(0, 0, 0, 0.3);
    padding: 15px 30px;
    z-index: 8;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
        background-color: transparent;
    }
    &::-webkit-scrollbar-button {
        height: 10px;
    }
    &::-webkit-scrollbar-thumb {
        background: lighten($color: $dark, $amount: 20);
        border-radius: 10px;
        &:hover {
            background: lighten($color: $dark, $amount: 10);
        }
        &:active {
            background: $sepia_light;
        }
    }
    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
    &.mobile {
        height: calc(100% - $Input_box_height_mobile);
        padding: 10px;
        &::-webkit-scrollbar {
            width: 5px;
            height: 5px;
        }
    }
    &.loading {
        height: 100%;
    }
}

.chat_message_item {
    width: 100%;
    position: relative;
    z-index: 10;
    min-height: 40px;
    margin: 0 auto 10px 0;
    display: flex;
    .message_box {
        min-height: 40px;
        padding: 5px 45px 5px 15px;
        background-color: $blue;
        border-radius: 10px;
        position: relative;
        .message {
            font-size: 16px;
            color: white;
            line-height: 30px;
            img {
                width: 26px;
                height: 26px;
                line-height: 26px;
                display: inline-block;
                vertical-align: -6px;
            }
            p {
                margin: 0;
            }
        }
        .time, .delete {
            position: absolute;
            bottom: 5px;
            right: 10px;
            pointer-events: none;
            user-select: none;
            font-size: 12px;
            color: white;
            opacity: 0.4;
            z-index: 1;
        }
        .delete {
            top: 5px;
            bottom: auto;
            right: 10px;
            font-size: 14px;
            transition: 0.3s;
            pointer-events: unset;
            z-index: 2;
            visibility: hidden;
            opacity: 0;
            cursor: pointer;
            text-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.3);
            .tooltip {
                position: absolute;
                top: 18px;
                right: 0;
                background-color: $red;
                font-size: 12px;
                color: white;
                padding: 0 10px;
                height: 20px;
                transition: 0.3s;
                line-height: 20px;
                border-radius: 3px;
                pointer-events: none;
                box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.3);
                visibility: hidden;
                opacity: 0;
            }
            &:hover {
                color: $red;
                .tooltip {
                    visibility: visible;
                    opacity: 1;
                }
            }
            &:active {
                transform: scale(0.8);
                .tooltip {
                    transform: scale(1.2);
                    visibility: hidden;
                    opacity: 0;
                }
            }
        }
        &:hover {
            .delete {
                visibility: visible;
                opacity: 1;
            }
        }
    }
    &.user {
        .message_box {
            background-color: lighten($color: $dark, $amount: 10);
            margin: 0 0 0 auto;
        }
    }
}

// Inpot
.chat_input_box {
    width: 100%;
    min-height: $Input_box_height;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    &.mobile {
        min-height: $Input_box_height_mobile;
        .chat_input_box_content {
            padding: 5px 5px 5px 95px;
            .chat_input {
                width: calc(100% - 45px);
                margin: 0 5px 0 0;
            }
        }
        .chat_bottom {
            .content {
                height: 200px;
            }
            .toggler {
                top: 5px;
                left: 5px;
            }
            &:focus, &:focus-within {
                height: 200px;
            }
        }
        .chat_bottom_attach {
            .toggler {
                left: 45px;
            }
        }
        .chat_emoji_icon {
            width: 50px;
            height: 50px;
        }
    }
}

.chat_input_box_content {
    width: 100%;
    padding: 10px 10px 10px 110px;
    background-color: lighten($color: $dark, $amount: 10);
    display: flex;
    .clear {
        @include input_button;
        margin: auto 10px auto 0;
    }
    .send {
        @include input_button;
        margin: auto 0;
    }
}

.chat_input {
    width: calc(100% - 100px);
    height: auto;
    border-radius: 10px;
    max-height: 100px;
    padding: 0 10px 0 0;
    background-color: rgba(0, 0, 0, 0.1);
    display: block;
    margin: 0 10px 0 0;
    position: relative;
    transition: 0.3s;
    cursor: text;
    .input_box {
        height: 100%;
        min-height: 30px;
        overflow-y: auto;
        line-height: 30px;
        color: white;
        background-color: transparent;
        border: none;
        transition: 0.3s;
        font-size: 16px;
        user-select: contain;
        display: block;
        padding: 0 10px 0 0;
        img {
            width: 20px;
            height: 20px;
            line-height: 20px;
            display: inline-block;
            vertical-align: -4px;
        }
        &::-webkit-scrollbar {
            width: 5px;
            height: 5px;
            background-color: $dark;
        }
        &::-webkit-scrollbar-thumb {
            background: lighten($color: $dark, $amount: 20);
            border-radius: 10px;
            &:hover {
                background: lighten($color: $dark, $amount: 10);
            }
            &:active {
                background: $sepia_light;
            }
        }
        &::-webkit-scrollbar-track {
            background-color: transparent;
        }
    }
    .input_box[placeholder]:empty::before {
        content: attr(placeholder);
        color: rgba(255, 255, 255, 0.4)
    }
    &:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }
    &:focus-within {
        background-color: rgba(0, 0, 0, 0.4);
        .input_box {
            outline: none;
        }
    }
}

.chat_bottom {
    width: 100%;
    height: 0;
    transition: 0.3s;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: $dark;
    box-shadow: inset 0 0 10px 0px rgba(0, 0, 0, 0.3);
    .content {
        height: 170px;
        width: 100%;
        padding: 5px;
        display: flex;
        flex-wrap: wrap;
    }
    .toggler {
        @include input_button;
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 5;
    }
    &:focus, &:focus-within {
        height: 170px;
        .toggler {
            pointer-events: none;
            &:focus {
                background-color: transparent;
            }
        }
    }
    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
        background-color: $dark;
    }
    &::-webkit-scrollbar-thumb {
        background: lighten($color: $dark, $amount: 20);
        border-radius: 10px;
        &:hover {
            background: lighten($color: $dark, $amount: 10);
        }
        &:active {
            background: $sepia_light;
        }
    }
    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
}

.chat_bottom_attach {
    .content {
        width: 100%;
        padding: 5px;
        display: flex;
        padding: 20px;
        .toggler {
            left: 60px;
        }
        .attach_label {
            display: block;
            margin: auto;
            position: relative;
            .attach_button {
                margin: 0;
            }
            input {
                width: 0;
                height: 0;
                opacity: 0;
                position: absolute;
                z-index: -1;
            }
        }
        .attach_button {
            position: relative;
            display: block;
            width: 70px;
            height: 70px;
            line-height: 70px;
            border-radius: 10px;
            border: none;
            text-align: center;
            font-size: 24px;
            background-color: rgba(0, 0, 0, 0.2);
            color: rgba(255, 255, 255, 0.8);
            user-select: none;
            cursor: pointer;
            transition: 0.3s;
            margin: auto;
            span {
                position: absolute;
                bottom: -25px;
                left: 50%;
                transform: translate(-50%, 0);
                font-size: 16px;
                pointer-events: none;
                opacity: 0.4;
                color: white;
                line-height: 20px;
            }
            &:hover {
                transform: scale(1.1);
            }
            &:focus {
                outline: none;
                transform: scale(1.1);
                &:active {
                    transform: scale(0.9);
                }
            }
        }
    }
}

.chat_emoji_icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s;
    user-select: none;
    position: relative;
    padding: 5px;
    img {
        width: 100%;
        height: 100%;
        pointer-events: none;
    }
    &:hover {
        padding: 1px;
    }
    &:active {
        padding: 5px;
    }
    &:focus {
        outline: none;
    }
}

.chat_bottom, .chat_top {
    width: 100%;
    height: 0;
}