@import-normalize;
@import './variables.scss';

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto.ttf');
}

@font-face {
  font-family: 'Pacifico';
  src: url('./assets/fonts/Pacifico.ttf');
}

@font-face {
  font-family: 'Quicksand';
  src: url('./assets/fonts/Quicksand.ttf');
}

@font-face {
  font-family: 'Solitreo';
  src: url('./assets/fonts/Solitreo.ttf');
}

body {
  margin: 0;
  padding: 0;
  font-family: Quicksand, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: unset;
  overflow: hidden;
}

a {
  text-decoration: unset;
  &:hover {
    text-decoration: unset;
  }
  &:focus {
    outline: none;
    text-decoration: underline;
  }
}

* {
  box-sizing: border-box;
  &::selection {
    color: white;
    background-color: $blue_b;
  }
}

//Loader
.loader {
  font-size: 1.4rem;
  font-family: Pacifico, sans-serif;
  color: white;
  user-select: none;
  pointer-events: none;
  span {
    opacity: 0;
    animation: flow 4s ease-in-out infinite;
    &:nth-child(2) {
      animation-delay: 0.5s;
    }
    &:nth-child(3) {
      animation-delay: 1s;
    }
    &:nth-child(4) {
      animation-delay: 1.5s;
    }
    &:nth-child(5) {
      animation-delay: 2s;
    }
    &:nth-child(6) {
      animation-delay: 2.5s;
    }
    &:nth-child(7) {
      animation-delay: 3s;
    }
  }
  &.dark {
    color: $dark;
    animation: flowDark 4s ease-in-out infinite;
  }
  @keyframes flow {
    0% {
      opacity: 0;
    }
    12.5% {
      opacity: 1;
    }
    37.5% {
      opacity: 0;
    }
  }
  @keyframes dark {
    0% {
      opacity: 0;
    }
    12.5% {
      opacity: 1;
    }
    37.5% {
      opacity: 0;
    }
  }
}

.loader_alt {
  margin: 30px auto;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 6px solid rgba(162, 195, 233, 0.2);
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: 2px solid transparent;
    border-top: 2px solid rgba(162, 195, 233, 0.7);
    animation: spin 2s ease-in-out infinite;
  }
  @keyframes spin {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
}

#LayoutWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  //background: url("./assets/images/login_box_background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1920px 1080px;
  padding: 20px;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: rgb(0, 91, 109);
    background: linear-gradient(70deg, rgb(9, 9, 92) 0%, rgb(0, 91, 109) 100%);
    opacity: 0.7;
  }
  @media only screen and (max-width: 1010px) {
    padding: 0;
    #LayoutContainer {
      border-radius: 0;
      height: 100%;
    }
  }
}

#LayoutContainer {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 1200px;
  height: calc(100% - 15px);
  margin: 0 auto;
  background-color: $dark;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.5);
  background-color: transparent;
  .nav_toggler {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 50;
    &.mobile {
      left: -50px;
      &.show {
        left: 15px;
      }
      &.alt {
        left: 15px;
      }
    }
  }
}

#LayoutContent {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 0.5s;
  z-index: 10;
  &.nav_open {
    left: 340px;
    &.mobile {
      left: 0;
    }
  }
}

.quill_box {
  width: 100%;
  .ql-toolbar {
    display: none;
  }
  .ql-container {
    border: none !important;
    .ql-editor {
      min-height: 40px;
      overflow-y: auto;
      max-height: 100px;
      line-height: 20px;
      color: white;
      padding: 0;
      font-size: 16px;
      padding: 10px;
      img {
        width: 20px;
        height: 20px;
        line-height: 20px;
        display: inline-block;
        vertical-align: -5px;
      }
      &::before {
        left: 10px;
        color: rgba(255, 255, 255, 0.3);
      }
      &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
      }
      &::-webkit-scrollbar-button {
        height: 10px;
      }
      &::-webkit-scrollbar-thumb {
        background: lighten($color: $dark, $amount: 20);
        border-radius: 10px;
        &:hover {
          background: lighten($color: $dark, $amount: 10);
        }
        &:active {
          background: $sepia_light;
        }
      }
      &::-webkit-scrollbar-track {
        background-color: transparent;
      }
    }
  }
}